# Task 1 - Connecting to MySQL database

In [1]:
import mysql.connector as connector
import os

In [2]:
%load_ext dotenv
%dotenv ./.env

In [3]:
dbconfig = {
    'user': os.getenv('USER'),
    'password': os.getenv('PASSWORD'),
    'db': 'LittleLemonDB',
}

In [4]:
connection = connector.connect(**dbconfig)

In [5]:
cursor = connection.cursor()

# Task 2 - Showing the database tables

In [6]:
show_tables_query = '''SHOW tables''' 
cursor.execute(show_tables_query)

In [7]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

bookings
contactdetails
customers
menucontent
menuitems
menus
orderdeliverystatus
orders
ordersview
roles
staff

# Task 3 - Getting the customers' details who have spent more than $60

In [8]:
customer_join_query = '''
        SELECT
            c.name AS FullName,
            cd.email AS Email,
            cd.phone_number AS PhoneNumber,
            cd.address AS Address,
            cd.country AS Country,
            cd.city AS City,
            o.total_cost AS Cost
        FROM customers c
        JOIN contactdetails cd
            USING (customer_id)
        JOIN orders o
            USING (customer_id)
        WHERE o.total_cost > 60
        ORDER BY o.total_cost DESC;
'''

In [9]:
cursor.execute(customer_join_query)

In [10]:
customers = cursor.fetchall()

In [11]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 935 customers with more than $60 of spending...
Printing the top 10 spenders...
==================================================
Full Name: 	 Jacquelyn Yewen
Email: 		 bsirmana4@comsenz.com
Phone Number: 	 +1 (513) 215-9561
Address: 	 5626 Swallow Alley
Country: 	 United States
City: 		 Cincinnati
Has spent: 	 498.91
==================================================
Full Name: 	 Ardys Dwire
Email: 		 jmcbeitha6@sina.com.cn
Phone Number: 	 +1 (972) 934-0387
Address: 	 99 Charing Cross Crossing
Country: 	 United States
City: 		 Garland
Has spent: 	 498.9
==================================================
Full Name: 	 Phyllys Apple
Email: 		 kdarth2s@yellowbook.com
Phone Number: 	 +1 (317) 765-7102
Address: 	 72389 Homewood Center
Country: 	 United States
City: 		 Seminole
Has spent: 	 498.42
==================================================
Full Name: 	 Felicio Ansty
Email: 		 hmckernon3h@bandcamp.com
Phone Number: 	 +1 (815) 786-0307
Address: 	 281 Morning Crossing
Country: 	 United States
City: 		 Rockford
Has spent: 	 498.09
==================================================
Full Name: 	 Joleen Dunkinson
Email: 		 cterlindenbi@desdev.cn
Phone Number: 	 +1 (318) 400-0742
Address: 	 7 Maple Center
Country: 	 United States
City: 		 Shreveport
Has spent: 	 497.49
==================================================
Full Name: 	 Leila Coole
Email: 		 mantalffybd@adobe.com
Phone Number: 	 +1 (513) 564-6235
Address: 	 5606 Sage Lane
Country: 	 United States
City: 		 Cincinnati
Has spent: 	 496.8
==================================================
Full Name: 	 Art Trelease
Email: 		 hmerrydewdr@t.co
Phone Number: 	 +1 (404) 879-2955
Address: 	 8 Caliangt Road
Country: 	 United States
City: 		 Atlanta
Has spent: 	 496.71
==================================================
Full Name: 	 Tracy Ferbrache
Email: 		 mfinnick8o@pcworld.com
Phone Number: 	 +1 (704) 872-6092
Address: 	 71032 Barnett Drive
Country: 	 United States
City: 		 Charlotte
Has spent: 	 496.23
==================================================
Full Name: 	 Emmy Garmanson
Email: 		 atwiddlea9@un.org
Phone Number: 	 +1 (510) 263-1560
Address: 	 2 Karstens Street
Country: 	 United States
City: 		 Oakland
Has spent: 	 495.47
==================================================
Full Name: 	 Adan Roust
Email: 		 dphebee2r@java.com
Phone Number: 	 +1 (212) 693-2993
Address: 	 748 Dahle Parkway
Country: 	 United States
City: 		 New York City
Has spent: 	 495.29